@use "../forward" as *;

.drawer {
  width: 100%;
  height: 100%;
  background-color: $color-drawer-bg;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  z-index: $z-drawer;
  transition: $transition-duration;

  @at-root .js-drawer-open & {
    opacity: 1;
    visibility: visible;
    transition: $transition-duration;
  }

  @include media-min(vw) {
    display: none;
  }

  &__inner {
    padding: rems(84px) rems(map-get($inner-padding, sp));
    text-align: center;
  }

  &__logo {
    width: rems(127px);
  }

  &__nav {
    margin-top: rems(48px);

    .menu-item {
      margin-bottom: rems(24px);

      &:last-child {
        margin-bottom: 0;
      }

      & > a {
        color: white;
        @include font-family(main, medium);
        font-size: rems(20px);
        text-decoration: none;
      }
    }
  }

  .widget-sns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rems(16px);
    margin-top: rems(24px);

    & > a {
      color: white;
      font-size: rems(32px);
    }
  }
}
