// letter-spacing
// $letter-spacing: 0.1em;

// z-index
$z-fixed: 800;
$z-header: 900;
$z-header-logo: 1100;
$z-drawer: 1000;
$z-hamburger: 1100;

$transition-duration: 0.4s;

$header-margin-top: 80px;
